[user]
    # These values are set in ~/.gitconfig_local
[include]
    path = ~/.gitconfig_local
[core]
	autocrlf = false
	compression = 0
	editor = vim
	pager = less -FX
[push]
	default = matching
[alias]
    # However, maybe you want to run an external command, rather than a Git subcommand. In that case, you start the command with a ! character.
	new = !git init && git symbolic-ref HEAD refs/heads/main
	hist = log --pretty='format:%C(auto)%h %ad %s%C(auto)%d [%an]' --graph --date=short
	last = log -1 HEAD
	lol = log --oneline --graph --decorate
	lols = log --oneline --graph --decorate --stat
	lola = log --oneline --graph --decorate --all
[init]
	defaultBranch = main
[color]
	ui = true
